/* Estilos del menú desplegable */
.navbar {
    overflow: hidden;
}

.dropdown {
    float: left;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: #333;
    /* Color de fondo del botón */
    padding: 14px 16px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* Color de fondo del menú desplegable */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    /* Cambia el color de fondo al pasar el mouse */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Ajustes adicionales si es necesario */
