<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menú</button>
            <div class="dropdown-content">
                <a href="#">Compras</a>
                <a href="#">Ventas</a>
                <a href="#">Archivos</a>
            </div>
        </div>
    </div>

    <!-- El resto del contenido de tu página -->
</body>

</html>
